* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  display: none;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

button{
  outline: none;
  border: none;
}

html,
body,
#app {
  height: 100%;
  background: $lightBlack;
  color: #fff;
  font-size: 14px;
}

